<div class="col-4 mb-4">
    <div class="card h-100">
      <img src="<%= item.urlToImage %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><a href="<%= item.url %>" target="_blank"><%= item.title %></a></h5>
        <p class="card-text"><%= item.description %></p>
        <div class="blockquote-footer"><%= item.author %> <small class="text-muted"><%= item.publishedAt %></small></div>
      </div>
    </div>
</div>
